/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .padding-right {
        padding-right: 0px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 12px;
    }
    ul.navs-resources li a {
        font-size: 13px;
    }
    .d-flex.justify-content-around.home-clients-block img {
        margin: 10px 0px;
    }
    .d-flex.justify-content-around.home-clients-block {
        padding: 10px 0px;
    }
    .card-head-business {
        padding-left: 10px;
    }
    section.scholarship-banner {
        height: 270px;
    }
    .business-icons {
        margin: 30px 0 0;
        display: inline-block;
    }
    ul.business-icons>li {
        width: 50%;
        margin-top: 0px;
        float: left;
    }
    ul.navs-careers>li {
        width: 33%;
    }
    .image-scholarshipbanner>img {
        width: 100%;
    }
    .bg-res.bg-res1 {
        background-position: right;
    }
    .navs-solutions>li>a {
        padding: 9px 25px;
    }
    h4.stns-head img {
        width: 20px;
        height: 20px;
        margin-right: 0px;
    }
    h4.stns-head {
        font-size: 16px;
    }
    .btn-industry-service {
        margin-top: -5px;
    }
    .sec-abt-bpm-sec .lists-bpm {
        float: none;
        width: 100%;
    }
    .btn-careersubmit button {
        width: 100%;
    }
    h3.case-heading::after {
        width: 100px;
    }
    li.cont-li1 button.btn.btn-theme-white {
        font-size: 11px !important;
        padding: 5px 0px 5px 13px !important;
    }
    .casestudy-bgimg1 {
        padding-left: 0%;
    }
    .bg-res.bg-res1 {
        background-color: #5b91bf;
        background-image: none;
    }
    .cadestudy-block-news .footer-case>p {
        font-size: 12px;
        top: 0px;
    }
    p.full-articlepara span {
        font-size: 12px !important;
        top: 0px;
    }
    .footer-case>p {
        padding: 15px 5px 0;
    }
    .footer-case>p>span>i {
        padding-right: 0px;
    }
    p.full-articlepara1 {
        top: 0px;
    }
    .card-detail-industry {
        padding: 15px 5px 15px 25px;
    }
    ul.industry-service-ul>li {
        margin-bottom: 5px;
    }
    section.business-process {
        height: auto;
    }
    div#particles-js1 {
        position: absolute;
    }
    .particle-text1 {
        position: relative;
        right: initial;
        transform: initial;
        top: initial;
    }
    .business-block>p {
        height: 80px;
        margin: 0;
    }
    .business-block>h4 {
        margin: 5px 0px 0px;
    }
    .bg-res.bg-contactcareers {
        padding-left: 21% !important;
        background-size: 165% 100% !important;
    }
    .div-video-business {
        padding: 0px;
        margin-bottom: 0px;
    }
    .video-business>img {
        display: none;
    }
    .video-business>h2 {
        font-size: 20px;
        padding: 0px;
        margin: 30px 0px 15px;
    }
    .card-body-business {
        padding: 10px 10px 0px 65px !important;
    }
    section.enquire-sec {
        background-color: #E1E1E1;
    }
    .career-bannertexts>h1 {
        font-size: 24px;
        line-height: 40px;
    }
    .career-bannertexts>h4 {
        font-size: 16px;
        margin: -5px 0 20px;
    }
    .bg-res.bg-res3 {
        background-position: 64% 0%;
    }
    .body-case {
        padding: 0 10px;
    }
    .body-case>h4 {
        font-size: 16px;
    }
    .form-casestudy {
        margin-top: 20px;
        padding: 0px;
    }
    .hungry-sec.bg-res.bg-res3 h5 {
        padding-right: 40%;
    }
    .bg-res.bg-res2 p {
        padding-right: 40%;
    }
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .career-bannertexts {
        text-align: left;
    }
    .career-title>h5 {
        display: none;
    }
    .head-toggle-business::after {
        display: none;
    }
    .d-flex.justify-content-around.home-clients-block {
        margin: 0px 50px;
    }
    .solutions-texts {
        text-align: left;
    }
    .padding-left {
        padding-left: 0px;
    }
    .stratergy-texts {
        padding-left: 30px;
    }
    .resources-texts {
        text-align: left;
    }
    .resource-pd {
        padding-right: 50px;
    }
    .carrerimg-mb {
        display: none;
    }
    .solutions-card h5 {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 50px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h4.head-careerdesc {
        display: none;
    }
    .blogstabs-col {
        display: flex;
    }
    .form-blockcontact>h5 {
        display: none;
    }
    .banner-text.full-width-services-text.resources-banner-text {
        text-align: left;
        padding: 17% 0% 8% 47%;
    }
    p.list-description {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 5;
        height: 105px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .owl-carousel-careertesti-section .owl-nav {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .resourcestab-block {
        background-color: #ffffff;
        margin: -10px 0px 10px;
    }
    .search-filter {
        margin-bottom: -10px;
    }
    form.articles-sortform label {
        text-align: left;
    }
    .body-case>p {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 38px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    ul.case-socialicons>a>li {
        display: block;
        padding: 0px;
    }
    ul.case-socialicons>a>li i {
        background-color: #FC6A55;
        color: #ffffff;
        padding: 5px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    ul.case-socialicons>a:nth-child(4) i {
        padding: 5px 7.5px;
    }
    .resources-right-block {
        padding-right: 8px;
    }
    ul.case-socialicons>a:last-of-type {
        display: none;
    }
    .resources-lists, .popular-solutions {
        display: none;
    }
    .resourcesotherposts-mb .resources-lists, .resourcesotherposts-mb .popular-solutions {
        display: block;
    }
    .relatedblog-block {
        padding-bottom: 0px;
    }
    ul.relatedblog-ul>a>li:last-child {
        position: initial;
        top: auto;
    }
    ul.relatedblog-ul>a {
        display: flex;
    }
    form.search-filter-form>input {
        border: 1px solid #B5B3B4;
        border-radius: 20px;
        color: #000000;
    }
    form.search-filter-form {
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 40px;
    }
    .left-resources {
        border-right: none;
        padding-right: 8px;
    }
    form.search-filter-form>button {
        border-radius: 20px;
        border: 1px solid #FC6A55;
        background-color: #FC6A55;
        color: #ffffff;
        margin-left: 15px;
    }
    section.banner-inner.resources-home {
        background-image: url(../images/resources/banner-mobile/All-Resources-page-Vector-image.png);
        background-position: bottom;
    }
    section.banner-inner.resources-casestudies {
        background-image: url(../images/resources/banner-mobile/Case-Study-Resource-page-banner.png);
    }
    section.banner-inner.resources-brochures {
        background-image: url(../images/resources/banner-mobile/Brochure-page-banner.png);
    }
    section.banner-inner.resources-articles {
        background-image: url(../images/resources/banner-mobile/Articles-Resource-page-banner.png);
    }
    section.banner-inner.resources-news {
        background-image: url(../images/resources/banner-mobile/News-Resource-page-banner.png);
    }
    .banner-text.resources-banner-text {
        padding: 25% 0% 65% 0;
    }
    .cadestudy-block {
        margin-top: 15px;
    }
    .popular-badge {
        margin: 10px 0px;
    }
    .desc-detail.job-detail.joblocation-map {
        display: none;
    }
    .share-apply {
        display: none !important;
    }
    .col-openings {
        margin-top: 20px;
    }
    .banner-text.career-text {
        padding: 25% 0% 5% 0;
    }
    .career-bannertexts {
        text-align: center;
        width: 100%;
    }
    .form-careerform.form-scholarshipessay {
        padding: 30px 10px;
    }
    .form-nomatdesign.form-check-inline.form-check-scholarship {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    section.aboutInv-sec.section-padding {
        padding-bottom: 0px;
    }
    .qualityclientimg {
        padding: 30px;
    }
    .row.abt-value-row .services-business-value>p {
        display: none;
    }
    .row.abt-value-row .services-business-value {
        margin-top: 0px;
        border: 1px solid #C9C8C8;
        padding: 20px 10px;
        text-align: center;
    }
    .row.abt-value-row .services-business-value>h5 {
        font-size: 14px;
    }
    .abt-block-text>h2 {
        font-size: 20px;
    }
    .services-stage-block>h5 {
        font-size: 16px;
    }
    .qualitycomp-texts>h2 {
        font-size: 20px;
    }
    .quality-combg {
        padding: 50px 0px;
    }
    .card-industry {
        display: none;
    }
    .industry-service {
        margin-top: 20px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .services-stage-block>h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .card-industry-body>img {
        margin-bottom: 10px;
        float: left;
        margin-top: 7px;
        border-right: 1px solid #FC6A55;
        margin-right: 12px;
        padding-right: 12px;
        width: 52px;
        height: 52px;
    }
    .industry-service:hover .card-industry-body>h4 {
        color: #FC6A55;
    }
    .card-industry-body>img::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #000000;
        right: 15px;
        top: 2px;
    }
    .card-industry-body>h4 {
        font-size: 14px;
        color: #000000;
        margin: 5px 0px;
    }
    .services-stage-block>p {
        font-size: 12px;
    }
    .industry-service:hover .industry-carding-hover {
        display: none;
    }
    .card-industry-body {
        text-align: left;
        padding: 15px;
    }
    .modal-body.modal-body-servicesbtnmobile {
        padding: 0px 10px;
    }
    ul.accordian-services-card-body {
        padding: 5px 0 10px 15%;
    }
    .accordian-services-blocks {
        margin-bottom: 20px;
    }
    .accordian-services-header {
        padding: 14px 0px 14px 2px;
    }
    .section-padding-stage {
        padding-top: 10px;
    }
    section.services-tab-sec.section-padding {
        padding-top: 10px;
    }
    section.current-openings.section-padding {
        padding-top: 10px;
    }
    section.career-detail.section-padding {
        padding-top: 10px;
    }
    .service-accordian {
        display: none;
    }
    ul.navs-services>li>a.active img.imgservicetab1 {
        display: none;
    }
    ul.navs-services>li>a.active img.imgservicetab2 {
        display: inline-block;
    }
    .platform-block>img {
        width: 45px;
        height: 45px;
        margin: 10px 0px 10px;
    }
    .img-service-tab-img {
        margin-bottom: 5px;
        width: 25px;
        height: 25px;
    }
    ul.navs-services>li>a {
        padding: 10px 0px 10px;
        height: auto;
        border-right: 1px solid #C5C5C5;
        background-color: #ffffff;
    }
    ul.navs-services>li>a.active {
        background-color: #FC6A55 !important;
        color: #ffffff !important;
    }
    ul.navs-services>li:last-of-type {
        border-right: none;
    }
    img.solutions-tab-img {
        display: none;
    }
    img.img-enq-footer {
        display: block;
    }
    img.img-enq1 {
        display: none;
    }
    ul.navs-solutions {
        margin-bottom: 0%;
    }
    .enquire-div:hover img.img-enq-footer {
        display: none !important;
    }
    .card.card-flip.card-industries {
        margin-top: 30px;
    }
    .tool-card {
        margin-top: 20px;
    }
    .quotes-block {
        padding: 30px 10px;
        margin-bottom: 0px;
        text-align: center;
    }
    .advisors-div>h2 {
        font-size: 20px !important;
    }
    .advisors-div>h3 {
        font-size: 14px !important;
        margin: 10px 0px 20px;
    }
    .stratergy-texts>h2 {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .stratergy-texts {
        text-align: center;
    }
    img.img-fluid.business-img {
        width: 40px;
    }
    .head-toggle-business>span {
        font-size: 18px;
        padding-left: 10px;
    }
    .card-body-business {
        padding: 10px 10px 0px 85px;
    }
    .card-body-business>p {
        font-size: 13px;
    }
    .card.card-business {
        border: 1px solid #D6D6D6 !important;
        margin-bottom: 10px;
        border-radius: 8px !important;
    }
    .resource-pd {
        text-align: center;
    }
    .resources-blog-explore>h5 {
        font-size: 18px;
    }
    ul.navs-resources li a {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #E6E1E1;
        font-weight: 400;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 2px solid #FC6A55;
        border-radius: 0 !important;
    }
    ul.navs-resources li a.active {
        position: relative;
        background-color: #FC6A55 !important;
        color: #ffffff !important;
    }
    ul.navs-resources li a.active::after {
        content: "";
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-top: 7px solid #FC6A55;
        position: absolute;
        bottom: -12px;
        right: 50%;
        transform: translate(50%,-50%);
    }
    section.enquire-sec {
        padding: 10px 0px 0px;
    }
    section.enquire-sec .container {
        padding: 0px;
    }
    .enquire-div {
        text-align: center;
        padding: 20px;
        background-color: #ffffff;
        color: #FC6A55;
        display: inline-flex;
        width: 100%;
    }
    .enquire-div>img {
        width: 25px;
        margin-right: 7px;
    }
    .enquire-div>h6 {
        padding: 0px;
        font-size: 14px;
        position: relative;
        top: 5px;
        font-weight: 500;
    }
    .enquire-div>p {
        display: none;
    }
    .enquire-block {
        border: 1px solid #e4e4e4;
        box-shadow: 0 16px 52px 0 rgba(44, 43, 43, 0.07);
    }
    .row.enquire-block>div:first-child {
        border-right: 1px solid #e4e4e4;
    }
    .footer-bottom-block>img {
        margin-bottom: 18px;
    }
    ul.footer-block>li>h5 {
        cursor: pointer;
        padding: 23px 20px;
        margin: 0;
        position: relative;
        color: #000000;
    }
    ul.footer-block>li>h5:hover {
        color: #FC6A55;
    }
    li.footer-links.text-right {
        display: none;
    }
    ul.social-icons>li:last-of-type {
        padding-right: 0px;
    }
    section.footer-top .container {
        padding: 0;
    }
    ul.footer-block>li>h5::after {
        content: "\f107"; /* fa-chevron-down */
        font-family: 'FontAwesome';
        position: absolute;
        right: 20px;
        top: 18px;
        font-size: 20px;
    }
    ul.footer-block>li>h5[aria-expanded="true"]::after {
        content: "\f106"; /* fa-chevron-up */
    }
    .para-footercollapse {
        padding: 0px 20px 15px;
    }
    .para-footercollapse>p, .para-footercollapse>p>a, .para-footercollapse>h6>a {
        color: #000000;
    }
    header.masthead .intro-text .intro-lead-in {
        font-size: 20px;
        line-height: 25px;
        text-align: left;
    }
    section.best-clients.section-padding {
        padding-bottom: 75px;
    }
    .job-btn, .job-btn button {
        -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .row.description-detail-row {
        flex-direction: column-reverse;
    }
    .desc-detail {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0,0.07);
        padding: 20px 20px 1px;
        margin-top: 30px;
    }
    .job-detail {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0,0.07);
    }
    .job-btn button {
        width: 100%;
    }
    .tools-screenshots, img.business-img-main {
        display: none;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 24px;
        margin: 10px 0px;
        text-align: left;
        position: relative;
    }
    .intro-heading.text-uppercase::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -15px;
        width: 115px;
        height: 4px;
        background-color: #FC6A55;
    }
    .col-md-3.qualityclientcol {
        margin-top: 20px;
    }
    .row.contactform-row {
        flex-direction: column-reverse;
    }
    section.contact-banner {
        height: auto;
        background-size: cover;
    }
    div#particles-js-contact {
        position: absolute;
    }
    .particle-text-contact {
        position: relative;
        right: initial;
        transform: initial;
        top: initial;
    }
    .contact-textbanner {
        text-align: center;
        margin: 100px 0px 30px;
    }
    .material-textfield {
        margin-top: 10px !important;
    }
    .contact-textbanner>h1 {
        font-size: 26px;
        line-height: initial;
    }
    .contact-textbanner>p {
        margin: 10px 0px;
        font-size: 16px;
    }
    ul.navs-careers>li {
        border: none;
        position: relative;
    }
    ul.navs-careers>li::after {
        background-color: #DADADA;
        bottom: 0;
        content: "";
        height: 1px;
        position: absolute;
        top: 35px;
        width: 100%;
        left: 0px;
        z-index: 0;
    }
    ul.navs-careers>li.visited::after {
        background-color: #FC6A55;
    }
    ul.navs-careers>li.visited .carrerimg-mb>img {
        border: 1px solid #FC6A55;
    }
    ul.navs-careers>li.visited strong {
        color: #000000;
    }
    .carrerimg-mb>img {
        position: relative;
        background-color: #ffffff;
        z-index: 1;
    }
    ul.navs-careers>li>a strong {
        font-size: 14px;
    }
    ul.navs-careers>li>a.active .carrerimg-mb>img {
        background-color: #FC6A55;
        border: 1px solid #FC6A55;
        opacity: 1;
    }
    ul.navs-careers>li>a.active img.img-fluid.carrerimg-icon1, ul.navs-careers>li>a.active img.img-fluid.carrerimg-icon3 {
        display: none;
    }
    ul.navs-careers>li>a.active img.img-fluid.carrerimg-icon2 {
        display: inline-block;
    }
    ul.navs-careers>li.visited img.img-fluid.carrerimg-icon1, ul.navs-careers>li.visited img.img-fluid.carrerimg-icon2 {
        display: none;
    }
    ul.navs-careers>li.visited img.img-fluid.carrerimg-icon3 {
        display: inline-block;
    }
    img.img-fluid.carrerimg-icon3 {
        display: none;
    }
    ul.navs-careers>li>a.active {
        border-bottom: none;
    }
    ul.navs-careers>li>a {
        display: inline-block;
        line-height: 16px;
        border-bottom: none;
    }
    .solutions-tab-body p {
        -webkit-line-clamp: initial;
        height: auto;
        display: none;
    }
    .solutions-tab-body {
        border-radius: 8px;
        padding: 15px;
    }
    .career-title {
        text-align: center;
    }
    .career-title>h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .career-title>h2 sup {
        top: -7px;
        padding: 2px 3px;
    }
    ul.navs-careers>li>a i {
        display: none !important;
    }
    .career-title>h6 {
        font-size: 12px;
        line-height: 20px;
    }
    .career-title>h6 span::after {
        margin: 0px 5px;
    }
    .careerform-tabs {
        margin-top: 10px;
    }
    .contactcareers-bgimg>h2 {
        font-size: 18px;
    }
    ul.contactcareers-ul {
        margin: 10px 0px;
    }
    li.lifirst-contactcareers {
        font-size: 14px;
        line-height: 18px;
    }
    li.lifirst-contactcareers::after {
        right: 10px;
        top: 1px;
    }
    li.lisecond-contactcareers {
        font-size: 10px;
        line-height: 13px;
        top: 1px;
    }
    .bg-res.bg-contactcareers {
        padding: 10px 0px;
        padding-left: 35%;
        background-size: 100% 100%;
    }
    ul.paralists-ul.ul-inside {
        margin-left: 30px;
    }
    .scholarship-blocks>p {
        font-size: 12px;
    }
    .form-scholarshipessay>p {
        font-size: 16px;
    }
    .scholarship-blocks>h2 {
        font-size: 20px;
        text-align: center;
    }
    .awardcandidate-block>img {
        width: 100px;
        height: 100px;
        margin-top: -52px;
    }
    .awardcandidate-block>h4 {
        font-size: 20px;
    }
    .awardcandidate-block>h5 {
        font-size: 16px;
        margin: 10px 0px 10px;
    }
    .row.contact-divsblockrow>div:nth-child(2) {
        margin: 20% 0px;
    }
    .contact-box {
        height: auto;
    }
    .awardcandidate-block>h6 {
        font-size: 16px;
    }
    p.awardcandidate-bgcolor {
        margin: 20px 0px 0px;
        font-size: 12px;
    }
    .awardcandidate-detail>p {
        padding: 15px 5%;
        margin-bottom: 10px;
    }
    .bg-imageawardcandidate {
        display: none;
    }
    .scholarship-detailblock>h2 {
        margin: 30px 0px 20px;
        font-size: 20px;
    }
    .scholarship-detailblock>p {
        font-size: 12px;
        margin-bottom: 10px;
    }
    ul.paralists-ul>li {
        font-size: 12px;
    }
    .services-inner-card>p {
        -webkit-line-clamp: initial;
        height: auto;
        display: none;
    }
    p.list-description {
        display: none;
    }
    h4.desc-desktop {
        display: none;
    }
    .carrer-listing-div {
        min-height: fit-content !important;
    }
    form.business-enquireForm.career-detform .material-textfield {
        margin-top: 10px;
    }
    .radio-div>label {
        margin: 20px 0px 10px !important;
    }
    .select-div>label {
        margin: 10px 0px 20px !important;
    }
    .intro-medium {
        font-size: 14px;
        text-align: left;
        margin: 35px 0px 5px;
    }
    .desc-detail>h4 {
        position: relative;
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .job-detail>p {
        font-size: 14px;
    }
    h4.head-careerdesc::after {
        content: "\f107"; /* fa-chevron-down */
        font-family: 'FontAwesome';
        position: absolute;
        right: 0;
        top: 5px;
        font-size: 20px;
        color: #FC6A55;
    }
    h4.head-careerdesc[aria-expanded="true"]::after {
        content: "\f106"; /* fa-chevron-up */
    }
    .services-abt-div.partner-quality>h5 {
        margin: 10px 0px 5px;
        font-size: 14px;
    }
    .partner-block {
        margin: 30px 0px 0px;
    }
    button.btn.btn-theme {
        font-size: 14px;
        margin-top: 20px;
    }
    .services-card {
        margin-bottom: 20px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .btn-explore {
        margin-top: 10px;
    }
    .services-block-text>h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    section.services-dreams.section-padding .col-md-6.d-flex.align-items-center {
        display: block !important;
    }
    .services-block-text>p {
        font-size: 16px;
    }
    button.btn.btn-more.ripple {
        font-size: 16px !important;
    }
    .solutions-texts {
        margin-bottom: 30px;
    }
    .services-card:hover {
        top: 0px;
    }
    .resources-texts {
        margin-top: 0px;
    }
    .resources-blog-explore {
        text-align: center;
    }
    ul.navs-resources li {
        padding: 0 5px;
    }
    ul.navs-resources {
        justify-content: center;
        margin-bottom: 0px;
    }
    .footer-padding {
        border-top: 0;
        padding-bottom: 0px;
    }
    ul.footer-block {
        margin-bottom: 0px;
        margin-top: -10px;
    }
    ul.footer-block>li {
        float: none;
        width: 100%;
        margin-top: 0px;
        border: 1px solid #e4e4e4;
    }
    ul.footer-block>li>p {
        display: inline-block;
        padding-right: 20px;
    }
    li.footer-links.text-right {
        text-align: center !important;
    }
    section.footer-bottom {
        text-align: center !important;
    }
    ul.social-icons {
        padding: 0;
        margin-top: 11px;
        width: 100%;
    }
    .blogsfooter-btn.text-right {
        width: 100%;
    }
    .blogsfooter-btn button {
        border: 1px solid #000000 !important;
        color: #000000 !important;
    }
    ul.footer-block>li>h5[aria-expanded="true"] {
        color: #FC6A55;
    }
    li.footer-links.footer-linkssocialblogs {
        display: inline-flex;
        padding: 11px 20px;
    }
    ul.social-icons>li>a>i {
        color: #656D7A;
    }
    ul.social-icons>li {
        padding-left: 0px;
        padding-right: 15px;
    }
    .tool-card-front {
        padding: 30px 20px;
    }
    button {
        font-size: 12px !important;
        padding: 8px 15px !important;
    }
    section.services-advisor {
        height: auto;
        padding: 30px 0px;
    }
    #particles-js-advisor {
        position: absolute;
    }
    .particle-text-advisor {
        position: relative;
        right: initial;
        transform: initial;
        top: initial;
    }
    #searchbox {
        font-size: 24px;
        max-width: 90%;
        padding: 1.5rem 0rem;
    }
    .banner-text {
        padding: 25% 0% 12% 0;
        text-align: center;
    }
    .banner-text>h1 {
        font-size: 24px;
        line-height: 40px;
    }
    .banner-text>p {
        font-size: 12px;
    }
    button.btn.btn-theme-white.follow-btn.ripple {
        padding: 0px 7px !important;
    }
    button.btn.btn-theme-white {
        margin-top: 10px;
        padding: 10px 5px 10px 20px !important;
    }
    button.btn.btn-theme-white.js-scroll-trigger {
        margin-right: 5px;
    }
    ul.navs-services {
        margin: 0;
        border-bottom: none;
        border: 1px solid #C5C5C5;
        box-shadow: 34px -2px 12px 3px rgba(33, 33, 33, 0.15);
    }
    ul.navs-services>li>a>h5 {
        font-size: 14px;
        margin: 0px;
        padding: 0 10px;
    }
    ul.navs-services>li>a.active::after {
        display: none;
    }
    .section-padding {
        padding: 50px 0px;
    }
    .invfour-blocks>h6 {
        -webkit-line-clamp: 2;
        height: 40px;
    }
    .float-right {
        text-align: center;
    }
    .float-left {
        text-align: center;
    }
    .pad-right {
        padding-right: 15px;
    }
    .pad-left {
        padding-left: 15px;
    }
    img.img-fluid.img-servicesimg-center {
        margin-top: 0px;
        display: none;
    }
    .services-inner-card {
        padding: 15px 3px 10px;
        margin-top: 0px !important;
        height: auto;
        width: 100%;
        border: 1px solid #C5C5C5 !important;
    }
    .row.row-sol-stagesdiv {
        margin: 0px;
    }
    .row.row-sol-stagesdiv>div {
        padding: 0px;
    }
    .services-inner-card>h5 {
        font-size: 12px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 46px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0px;
        line-height: 16px;
    }
    .services-inner-card:hover span {
        display: block;
    }
    .platform-block {
        margin-top: 0px;
        padding: 10px 10px 0px;
    }
    .platform-block>p {
        font-size: 12px;
        margin: 0px 0px -10px;
        line-height: 16px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 34px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .row.services-abt {
        margin-top: 0px;
    }
    .ser-imgborder {
        width: 45px;
        height: 45px;
        margin-bottom: 10px;
    }
    .services-inner-img {
        width: 45px;
        height: 45px;
        padding: 5px;
    }
    .card-industry-body>p {
        -webkit-line-clamp: initial;
        height: auto;
        font-size: 12px;
        line-height: 16px;
    }
    .controls-owl-prev {
        margin-left: 0px;
    }
    .controls-owl-next {
        margin-right: 0px;
    }
    .owl-carousel-chalenges-section, .owl-carousel-organization-section, .owl-carousel-clients-section {
        margin-top: 0px;
    }
    .carousel-challenges-container, .carousel-organization-container, .carousel-clients-container {
        padding-top: 30px;
    }
    .challenges-card {
        margin-bottom: 20px;
        text-align: center;
    }
    .row.services-abt-video {
        margin: 0 0 50px;
    }
    img.img-service-abt {
        margin-bottom: 30px;
    }
    .services-abt-div>p {
        margin: 0px 0px;
    }
    .services-abt-blocks {
        text-align: center;
    }
    .services-abt-div {
        text-align: center;
    }
    section.organization-sec .organize-block {
        min-height: auto !important;
    }
    .solutions-tab-card {
        margin-top: 20px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .btn-more-transparent {
        font-size: 16px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .services-abt-div>h2 {
        font-size: 20px;
    }
    .services-abt-div>h4 {
        font-size: 16px;
    }
    .solutions-tab-body h5 {
        margin: 5px 0px;
    }
    p.para-quotes-lists {
        margin-left: 0px;
    }
    .iframe-abt-services {
        margin-bottom: 30px;
    }
    ul.stage2-services-ul>li {
        width: 32%;
    }
    .tabs-logistics-content {
        height: auto;
    }
    .nav.tabs-logistics-tabs {
        float: none;
        display: inline-flex;
        margin-right: 0px;
        border-bottom: 0;
        padding-right: 0px;
        width: 100%;
        text-align: center;
    }
    .tabs-logistics-tabs .nav-link.active {
        width: auto;
        border-bottom: 6px solid #FC6A55 !important;
        border: 1px solid #D0D0D0;
    }
    .tabs-logistics-tabs .nav-link.active::after {
        content: "";
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-top: 10px solid #FC6A55;
        position: absolute;
        bottom: -20px;
        right: 50%;
        transform: translate(50%,-50%);
    }
    .tabs-logistics-tabs .nav-link {
        padding: 15px 5px;
        width: auto;
        border-bottom: 6px solid #D0D0D0;
        background-color: #ffffff;
        position: relative;
    }
    .tabs-logistics-tabs .nav-item {
        width: 25%;
    }
    .img-logistics-tabs-icon {
        width: 50px;
    }
    .tabs-logistics {
        margin-top: 20px;
    }
    .tabs-logistics-pane {
        padding: 30px 15px;
        margin-left: 0px;
    }
    .img-block-logistics {
        margin: 0px;
    }
    .bpm-card>div {
        padding: 20px 10px;
    }
    .bpm-card>div {
        width: auto;
    }
    .row.row-bpm>div {
        margin-top: 20px;
    }
    h3.case-heading {
        font-size: 20px;
        width: 100%;
        float: none;
        text-align: center;
    }
    h3.case-heading::after, .resources-right-block>h3::after {
        content: '';
        width: 35%;
        height: 2px;
        background-color: #FC6A55;
        bottom: -9px;
        margin-left: auto;
        left: 32%;
        right: 32%;
    }
    ul.case-socialicons.all-resources-ul {
        position: fixed;
        right: 0px;
        top: 55%;
        z-index: 1030;
        width: initial;
        float: initial;
    }
    ul.casestudy-ul>li, ul.casestudy-ul>a>li {
        float: none;
        width: 100%;
        height: auto;
    }
    ul.case-socialicons {
        float: none;
        width: 100%;
        padding: 0px;
        text-align: right;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    .footer-case {
        position: relative;
    }
    li.nav-item.last-nav>a {
        padding: 10px !important;
    }
    .clients-scroll-block {
        padding: 40px 30px;
        margin: 0px;
    }
    .col.owl-carousel-home {
        padding: 0;
    }
    header.masthead {
        height: 580px;
    }
    .go-top {
        right: 1em;
    }
    .particle-text {
        top: 275px;
    }
    .search-full-view .input-group .form-control {
        font-size: 20px;
    }
    .search-full-view .input-group {
        width: 90%;
    }
    li.cont-li1>h4 {
        font-size: 16px;
    }
    li.cont-li1>p {
        font-size: 12px;
    }
    .case-heading {
        width: 100%;
        float: none;
    }
    .footer-case button {
        border-bottom-left-radius: 8px !important;
    }
    .tool-card-back>p {
        -webkit-line-clamp: 2;
        height: 43px;
    }
    section.resources-sec {
        padding-bottom: 50px;
    }
    .div-video-business>iframe {
        height: 265px;
    }
    .services-card>img {
        display: none;
    }
    .services-body button {
        padding-left: 0px !important;
    }
    .solutions-card button {
        padding-left: 0px !important;
    }
    .solutions-card:hover {
        background-image: none;
    }
    .row.services-row {
        margin-top: 30PX;
    }
    .solutions-card {
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .sol-imgborder {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    h3.case-heading::after {
        width: 100px;
    }
    .carrer-listing-block>h4 {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 48px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    ul.industry-service-ul>li:last-of-type {
        display: none;
    }
    .services-body {
        height: 136px;
    }
    .solutions-card {
        height: 257px;
    }
    .qualityclientimg {
        padding: 44px 23px;
    }
    .services-block-text>h2 {
        font-size: 24px;
    }
    .partner-block {
        margin: 0px;
    }
    .tools-screenshots>img {
        height: 410px;
    }
    .contact-box {
        padding: 0px 7px 20px;
        height: 250px;
    }
    .contactcareers-bgimg>h2 {
        font-size: 20px;
    }
    ul.contactcareers-ul {
        margin: 20px 0px;
    }
    li.lifirst-contactcareers {
        font-size: 20px;
        line-height: 24px;
    }
    li.lifirst-contactcareers::after {
        right: 11px;
        top: 2px;
    }
    li.lisecond-contactcareers {
        font-size: 14px;
        line-height: 20px;
    }
    section.services-advisor {
        height: 400px;
    }
    .bg-res.bg-contactcareers {
        padding: 15px 0px;
        padding-left: 30%;
    }
    p.cont-address {
        text-align: center;
    }
    ul.navs-resources li {
        padding: 0px 10px;
    }
    ul.organize-ul>li img {
        margin: -10px 0 0 15px;
    }
    .enquire-div {
        height: 220px;
    }
    .stratergy-texts {
        padding-top: 0px;
    }
    form.business-enquireForm label {
        margin: 0 15px 0px 3px;
        font-size: 12px;
    }
    form.business-enquireForm .form-control {
        font-size: 14px;
    }
    .tool-card-front {
        padding: 50px 10px;
    }
    .tool-card {
        height: 182px;
    }
    .tool-card-back>h6 {
        margin-bottom: 5px;
    }
    .tool-card-back>p {
        margin-bottom: 5px;
    }
    .tool-card-back {
        padding: 10px 0px 0;
    }
    .tools-screenshots {
        margin-top: 155px;
    }
    .card.card-flip.card-industries {
        height: 265px;
    }
    ul.navs-services {
        margin: 0 2% 5%;
    }
    .services-inner-card {
        height: auto;
    }
    section.organization-sec .organize-block {
        min-height: auto !important;
    }
    .platform-block {
        height: 185px;
    }
    button.btn.btn-theme-white {
        font-size: 14px;
    }
    .bg-res.bg-contactcareers {
        padding-left: 35%;
    }
    ul.stage2-services-ul>li {
        width: 32%;
    }
    ul.industry-service-ul>li {
        margin-bottom: 0px;
        font-size: 13px;
    }
    .btn-industry-service {
        margin-top: 0px;
    }
    .card-industry-body {
        padding: 10px;
    }
    .card-industry-body>h4 {
        font-size: 14px;
    }
    .card-detail-industry {
        padding: 20px 5px 30px 20px;
    }
    .img-block-logistics {
        margin: 0px;
    }
    .bpm-card:hover .bpm-back {
        overflow: hidden;
    }
    .bpm-card>div {
        padding: 20px 10px;
    }
    ul.casestudy-ul>li, ul.casestudy-ul>a>li {
        float: none;
        width: 100%;
        height: auto;
    }
    .footer-case {
        position: relative;
    }
    li.nav-item.last-nav>a {
        padding: 10px !important;
    }
    li.cont-li1>h4 {
        font-size: 20px;
    }
    li.cont-li1>p {
        font-size: 14px;
    }
    li.cont-li1 button.btn.btn-theme-white {
        padding: 10px 20px 10px 35px;
        font-size: 14px !important;
    }
    img.img-res-sec {
        margin-bottom: 30px;
    }
    .resource-rel {
        height: 60px;
    }
    img.img-resources-blog-icon {
        top: 40px;
    }
    .case-heading {
        width: 100%;
        float: none;
    }
    .div-video-business>iframe {
        height: 300px;
    }
    .invfour-blocks>h6 {
        -webkit-line-clamp: 3;
        height: 57px;
    }
    .ind-imgborder {
        margin-bottom: 5px;
    }
}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    li.nav-item.last-nav>a {
        margin-left: 10px;
    }
    .qualityclientimg {
        padding: 65px 50px;
    }
    .video-business {
        padding: 0px 200px;
    }
    .advisors-div>h2 {
        font-size: 22px;
    }
    .advisors-div>h3 {
        font-size: 18px;
    }
    .quote-div {
        margin-top: 10px;
    }
    .organize-head {
        padding: 30px 10px 30px 10px;
    }
    .inv-blocks {
        margin: 0px 5% 0px 5%;
    }
    .enquire-div {
        height: 200px;
    }
    .stratergy-texts {
        padding-top: 0px;
    }
    form.business-enquireForm label {
        margin: 0 15px 0px 3px;
    }
    .tool-card {
        height: 200px;
    }
    .tools-screenshots {
        padding-top: 50px;
        padding-left: 20px;
    }
    ul.navs-services {
        margin: 0 15% 5%;
    }
    .services-inner-card {
        height: 225px;
    }
    .btn-industry-service {
        margin-top: 0px;
    }
    .tabs-logistics-content {
        height: auto;
    }
    .img-block-logistics>img {
        height: 570px;
        padding: 100px 50px;
    }
    .particle-text {
        width: 65%;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 5px 9px 20px;
        position: relative;
        top: 6px;
    }
    .resource-rel {
        height: 75px;
    }
    img.img-resources-blog-icon {
        top: 55px;
    }
    p.full-articlepara span {
        font-size: 16px;
    }
    .tool-card-back button {
        padding: 10px 5px 10px 25px !important;
    }
    .solutions-tab-body h5 {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 48px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .platform-block>p {
        font-size: 14px;
    }
    .div-video-business>iframe {
        height: 320px;
    }
}

@media (max-width: 992px) {
    .bg-res {
        margin: 50px 0px;
        background-size: contain;
        background-position: bottom;
    }
    .bg-res.bg-res1 {
        background-size: cover;
        background-position: center center;
    }
    .bg-res.bg-res2 {
        background-size: cover;
        background-position: 75% 0%;
        margin: 20px 0px;
    }
    .bg-res.bg-res3 {
        background-size: cover;
        padding: 30px 0px;
    }
    .bg-res.bg-res3 h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .casestudy-bgimg>h3 {
        font-size: 18px;
    }
    .casestudy-bgimg>h5 {
        font-size: 12px;
    }
    .casestudy-bgimg>h4 {
        font-size: 16px;
        margin: 10px 0px;
    }
    .casestudy-bgimg1>h5 {
        font-size: 16px;
    }
    .casestudy-bgimg1>p {
        margin: 5px 0px 15px;
        font-size: 12px;
    }
    ul.pagination-articles {
        margin-top: 30px;
    }
    #mainNav .navbar-nav .nav-item .nav-link>img {
        width: 30px;
        height: 30px;
        background-color: #E3E3E3;
        padding: 5px;
        border-radius: 10px;
        margin-right: 20px;
    }
    img.img-headersm-icon2 {
        display: none;
    }
    #mainNav .navbar-nav .nav-item:hover img.img-headersm-icon1 {
        display: none;
    }
    #mainNav .navbar-nav .nav-item:hover img.img-headersm-icon2 {
        display: inline-block;
        background-color: #FFDDD8;
    }
    .img-block-logistics>img {
        display: none;
    }
    .advisors-div>h2 {
        font-size: 22px;
    }
    .img-block-logistics>img {
        height: auto;
        padding: 30px;
    }
    .row.business-value-row {
        margin-top: 0px;
    }
    .advisors-div>h3 {
        font-size: 18px;
    }
    .abt-value-img>img {
        height: auto;
        display: none;
    }
    .quote-div {
        margin-top: 0px;
    }
    .banner-text.full-width-services-text {
        padding-right: 0;
        padding-left: 0;
    }
    .form-careerform {
        margin: 15px 0px;
    }
    .owl-carousel-careertesti-section .owl-prev {
        left: -8%;
    }
    .owl-carousel-careertesti-section .owl-next {
        right: -8%;
    }
    .particle-text {
        width: 90%;
    }
    img.logo-white {
        display: none;
    }
    .submenu-ul {
        display: none;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        padding: 16px 15px 16px 15px;
    }
    /* #mainNav .navbar-nav>li>a::before {
        content: url(../images/Black_IT\ Service.svg);
        position: absolute;
        width: 30px;
        height: 30px;
        left: 15px;
        background-color: #E3E3E3;
        padding: 5px;
        border-radius: 10px;
        margin-top: -3px;
    }
    #mainNav .navbar-nav .nav-item:hover .nav-link::before {
        content: url(../images/Solution_IT\ Service.svg);
        background-color: #FFDDD8;
    } */
    a.nav-link span {
        float: right;
        font-size: 20px;
    }
    ul.navbar-nav {
        border-top: 3px solid #E3E3E3;
        margin-top: 7px;
    }
    ul.navbar-nav>li {
        border-bottom: 1px solid #E3E3E3;
    }
    nav#mainNav {
        padding-left: 0px;
        padding-right: 0px;
    }
    a.navbar-brand {
        padding-left: 15px;
    }
    button.navbar-toggler.navbar-toggler-right {
        padding-right: 15px !important;
    }
    #mainNav .navbar-nav .nav-item:hover .nav-link {
        box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.12);
        background-color: #FFF0EE;
    }
    ul.cont-ul {
        padding: 0;
        margin: 0;
        display: inline-flex;
        list-style-type: none;
        background-color: #F0F0F0;
        padding: 20px 15px;
        margin-top: 11px;
        width: 100%;
    }
    li.cont-li1>p {
        font-weight: 400;
    }
    li.cont-li1 button.btn.btn-theme-white {
        margin-top: 0px !important;
    }
    li.cont-li2>img {
        width: 100%;
    }
    li.cont-li1 {
        width: 70%;
    }
    li.cont-li2 {
        width: 30%;
    }
    ul.articles-ul {
        display: block;
    }
    ul.articles-ul>li {
        float: none;
        width: 100%;
    }
    li.art-rightli {
        padding-top: 20px;
    }
    img.img-fluid.img-res-news {
        height: auto;
        margin-bottom: 20px;
    }
    p.full-articlepara span {
        font-size: 16px;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link>img {
        display: none;
    }
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav .navbar-brand {
        transition: all .3s;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav.navbar-shrink .navbar-brand {
        padding: 12px 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #000000;
    }
    li.nav-item.last-nav>a {
        color: #ffffff !important;
        background-color: #FC6A55;
        border: 1px solid #FC6A55;
    }
    #mainNav.navbar-shrink li.nav-item.last-nav>a {
        border: 1px solid #FC6A55;
    }
    #mainNav.navbar-shrink li.nav-item.last-nav.active>a {
        color: #ffffff !important;
        border: 1px solid #FC6A55;
    }
    #mainNav.navbar-shrink li.nav-item.last-nav>a:hover {
        color: #ffffff !important;
        border: 1px solid #FC6A55;
    }
    img.logo-black {
        display: none;
    }
    .col-openings {
        padding: 0 30px;
    }
    #mainNav.navbar-shrink img.logo-black {
        display: block;
    }
    #mainNav.navbar-shrink img.logo-white {
        display: none;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        color: #ffffff;
    }
    .services-body {
        height: 112px;
    }
    .solutions-card {
        height: 246px;
    }
    .resources-blog-explore>h5 {
        padding-right: 30px;
    }
    .enquire-block {
        margin: 0px 50px;
    }
    .platform-block {
        height: 165px;
    }
    a.search-mobile-icon {
        display: none;
    }
    a.nav-link span {
        display: none;
    }
    li.nav-item.last-nav span {
        display: initial;
    }
    ul.cont-ul {
        display: none;
    }
    img.img-res-sec {
        height: 380px;
    }
    ul.casestudy-newsblocks li.left-casestudy {
        width: 35%;
    }
    ul.casestudy-newsblocks li.right-casestudy {
        width: 65%;
    }
    li.left-casestudy>img {
        border-bottom-left-radius: 0px;
    }
    .platform-block>p {
        line-height: 20px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 40px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .body-case>p, ul.casestudy-ul.casestudy-newsblocks .body-case>p {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 3;
        height: 64px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    ul.casestudy-ul .body-case>p {
        -webkit-line-clamp: 8;
        height: 165px;
    }
    .body-case>h4 {
        font-size: 18px;
        margin-bottom: 15px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 43px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    li.art-rightli>p {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 7;
        height: 145px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .invfour-blocks>h6 {
        line-height: 20px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 40px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    header.masthead .intro-text .intro-heading {
        font-size: 32px;
    }
}

@media (min-width: 2000px) {
    section.business-process {
        background-size: 100% 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    li.nav-item.last-nav>a {
        margin-left: 15px;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 5px 15px 21px;
        position: relative;
        top: 7px;
    }
    .video-business {
        padding: 0px 300px;
    }
    .stratergy-texts {
        padding-right: 40px;
    }
    .tool-card {
        height: 200px;
    }
    .tools-screenshots {
        padding: 30px 0 0 70px;
    }
    .industries-card {
        padding: 25px;
    }
    img.img-fluid.industries-img {
        margin-bottom: 25px;
    }
    .industries-card>p {
        margin: 10px 0px 20px;
    }
    .ind-imgborder {
        margin-bottom: 25px;
    }
    .inv-blocks {
        margin: 30px 10% 0px 10%;
    }
    img.img-service-abt {
        padding: 0 22px;
    }
}