/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .padding-right {
        padding-right: 0px;
    }
    .head-toggle-business::after {
        display: none;
    }
}

@media (max-width: 576px) {
    .d-flex.justify-content-around.home-clients-block img {
        margin: 10px 0px;
    }
    .d-flex.justify-content-around.home-clients-block {
        padding: 10px 0px;
    }
    .card-head-business {
        padding-left: 10px;
    }
    .card-body-business {
        padding: 10px 10px 0px 75px;
    }
    section.scholarship-banner {
        height: 270px;
    }
    .business-icons {
        margin: 30px 0 0;
    }
    ul.business-icons>li {
        width: 50%;
        margin-top: 0px;
        float: left;
    }
    ul.navs-careers>li {
        width: 33%;
    }
    .image-scholarshipbanner>img {
        width: 100%;
    }
    .bg-res.bg-res1 {
        background-position: right;
    }
    .navs-solutions>li>a {
        padding: 9px 25px;
    }
    h4.stns-head img {
        width: 20px;
        height: 20px;
        margin-right: 0px;
    }
    h4.stns-head {
        font-size: 16px;
    }
    .btn-industry-service {
        margin-top: -5px;
    }
    .sec-abt-bpm-sec .lists-bpm {
        float: none;
        width: 100%;
    }
    .btn-careersubmit button {
        width: 100%;
    }
    h3.case-heading::after {
        width: 100px;
    }
    li.cont-li1 button.btn.btn-theme-white {
        font-size: 11px !important;
        padding: 5px 0px 5px 13px !important;
    }
    .casestudy-bgimg1 {
        padding-left: 0%;
    }
    .cadestudy-block-news .footer-case>p {
        font-size: 12px;
        top: 0px;
    }
    p.full-articlepara span {
        font-size: 12px !important;
        top: 0px;
    }
    .footer-case>p {
        padding: 15px 5px 0;
    }
    .footer-case>p>span>i {
        padding-right: 0px;
    }
    p.full-articlepara1 {
        top: 0px;
    }
    .card-detail-industry {
        padding: 15px 5px 15px 25px;
    }
    ul.industry-service-ul>li {
        margin-bottom: 5px;
    }
    section.business-process {
        height: 1350px;
    }
    .particle-text1 {
        top: -7%;
    }
    .business-block>p {
        height: 80px;
        margin: 0;
    }
    .business-block>h4 {
        margin: 5px 0px 0px;
    }
    .bg-res.bg-contactcareers {
        padding-left: 21% !important;
        background-size: 165% 100% !important;
    }
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .d-flex.justify-content-around.home-clients-block {
        margin: 0px 50px;
    }
    .solutions-texts {
        text-align: left;
    }
    .padding-left {
        padding-left: 0px;
    }
    .stratergy-texts {
        padding-left: 30px;
    }
    .resources-texts {
        text-align: left;
    }
    .resource-pd {
        padding-right: 50px;
    }
    .carrerimg-mb {
        display: none;
    }
    .solutions-card h5 {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 43px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h4.head-careerdesc {
        display: none;
    }
    .blogstabs-col {
        display: flex;
    }
    .form-blockcontact>h5 {
        display: none;
    }
    .banner-text.full-width-services-text.resources-banner-text {
        text-align: left;
        padding: 17% 0% 8% 47%;
    }
    p.list-description {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 7;
        height: 145px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .owl-carousel-careertesti-section .owl-nav {
        display: block !important;
    }
}

@media (max-width: 767px) {
    header.masthead .intro-text .intro-lead-in {
        font-size: 20px;
        line-height: 25px;
    }
    section.best-clients.section-padding {
        padding-bottom: 100px;
    }
    .job-btn, .job-btn button {
        -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .row.description-detail-row {
        flex-direction: column-reverse;
    }
    .desc-detail {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0,0.07);
        padding: 20px 20px 1px;
        margin-top: 30px;
    }
    .job-detail {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0,0.07);
    }
    .job-btn button {
        width: 100%;
    }
    .tools-screenshots, img.business-img-main {
        display: none;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 24px;
        margin: 10px 0px;
    }
    .col-md-3.qualityclientcol {
        margin-top: 30px;
    }
    .row.contactform-row {
        flex-direction: column-reverse;
    }
    section.contact-banner {
        height: auto;
        background-size: cover;
    }
    div#particles-js-contact {
        position: absolute;
    }
    .particle-text-contact {
        position: relative;
        right: initial;
        transform: initial;
    }
    .contact-textbanner {
        text-align: center;
        margin: 100px 0px 30px;
    }
    .material-textfield {
        margin-top: 10px !important;
    }
    .contact-textbanner>h1 {
        font-size: 26px;
        line-height: initial;
    }
    .contact-textbanner>p {
        margin: 10px 0px;
        font-size: 16px;
    }
    ul.navs-careers>li {
        border: none;
        position: relative;
    }
    ul.navs-careers>li::after {
        background-color: #DADADA;
        bottom: 0;
        content: "";
        height: 1px;
        position: absolute;
        top: 35px;
        width: 100%;
        left: 0px;
        z-index: 0;
    }
    ul.navs-careers>li.visited::after {
        background-color: #FC6A55;
    }
    ul.navs-careers>li.visited .carrerimg-mb>img {
        border: 1px solid #FC6A55;
    }
    .carrerimg-mb>img {
        position: relative;
        background-color: #ffffff;
        z-index: 1;
    }
    ul.navs-careers>li>a strong {
        font-size: 14px;
    }
    ul.navs-careers>li>a.active .carrerimg-mb>img {
        background-color: #FC6A55;
    }
    ul.navs-careers>li>a.active img.img-fluid.carrerimg-icon1 {
        display: none;
    }
    ul.navs-careers>li>a.active img.img-fluid.carrerimg-icon2 {
        display: inline-block;
    }
    ul.navs-careers>li>a.active {
        border-bottom: none;
    }
    ul.navs-careers>li>a {
        display: inline-block;
        line-height: 16px;
        border-bottom: none;
    }
    .solutions-tab-body p {
        -webkit-line-clamp: initial;
        height: auto;
    }
    .career-title {
        text-align: center;
    }
    .career-title>h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .career-title>h2 sup {
        top: -3px;
    }
    ul.navs-careers>li>a i {
        display: none;
    }
    .career-title>h6 {
        font-size: 12px;
        line-height: 20px;
    }
    .career-title>h6 span::after {
        margin: 0px 5px;
    }
    .careerform-tabs {
        margin-top: 30px;
    }
    .contactcareers-bgimg>h2 {
        font-size: 18px;
    }
    ul.contactcareers-ul {
        margin: 10px 0px;
    }
    li.lifirst-contactcareers {
        font-size: 14px;
        line-height: 18px;
    }
    li.lifirst-contactcareers::after {
        right: 10px;
        top: 1px;
    }
    li.lisecond-contactcareers {
        font-size: 10px;
        line-height: 13px;
    }
    .bg-res.bg-contactcareers {
        padding: 10px 0px;
        padding-left: 35%;
        background-size: 100% 100%;
    }
    ul.paralists-ul.ul-inside {
        margin-left: 30px;
    }
    .scholarship-blocks>p {
        font-size: 12px;
    }
    .form-scholarshipessay>p {
        font-size: 16px;
    }
    .scholarship-blocks>h2 {
        font-size: 20px;
        text-align: center;
    }
    .awardcandidate-block>img {
        width: 100px;
        height: 100px;
        margin-top: -52px;
    }
    .awardcandidate-block>h4 {
        font-size: 20px;
    }
    .awardcandidate-block>h5 {
        font-size: 16px;
        margin: 10px 0px 10px;
    }
    .row.contact-divsblockrow>div:nth-child(2) {
        margin: 20% 0px;
    }
    .contact-box {
        height: auto;
    }
    .awardcandidate-block>h6 {
        font-size: 16px;
    }
    p.awardcandidate-bgcolor {
        margin: 20px 0px 0px;
        font-size: 12px;
    }
    .awardcandidate-detail>p {
        padding: 15px 5%;
        margin-bottom: 10px;
    }
    .bg-imageawardcandidate {
        display: none;
    }
    .scholarship-detailblock>h2 {
        margin: 30px 0px 20px;
        font-size: 20px;
    }
    .scholarship-detailblock>p {
        font-size: 12px;
        margin-bottom: 10px;
    }
    ul.paralists-ul>li {
        font-size: 12px;
    }
    .services-inner-card>p {
        -webkit-line-clamp: initial;
        height: auto;
    }
    p.list-description {
        display: none;
    }
    h4.desc-desktop {
        display: none;
    }
    .carrer-listing-div {
        min-height: fit-content !important;
    }
    form.business-enquireForm.career-detform .material-textfield {
        margin-top: 10px;
    }
    .radio-div>label {
        margin: 20px 0px 10px !important;
    }
    .select-div>label {
        margin: 10px 0px 20px !important;
    }
    .intro-medium {
        font-size: 14px;
    }
    .desc-detail>h4 {
        position: relative;
        cursor: pointer;
        margin-bottom: 20px;
    }
    h4.head-careerdesc::after {
        content: "\f107"; /* fa-chevron-down */
        font-family: 'FontAwesome';
        position: absolute;
        right: 0;
        top: 5px;
        font-size: 20px;
        color: #FC6A55;
    }
    h4.head-careerdesc[aria-expanded="true"]::after {
        content: "\f106"; /* fa-chevron-up */
    }
    .services-abt-div.partner-quality>h5 {
        margin: 15px 0px;
    }
    .partner-block {
        margin: 30px 0px 0px;
    }
    button.btn.btn-theme {
        font-size: 14px;
        margin-top: 20px;
    }
    .services-card {
        margin-bottom: 20px;
    }
    .btn-explore {
        margin-top: 10px;
    }
    .services-block-text>h2 {
        font-size: 20px;
    }
    section.services-dreams.section-padding .col-md-6.d-flex.align-items-center {
        display: block !important;
    }
    .services-block-text>p {
        font-size: 16px;
    }
    button.btn.btn-more.ripple {
        font-size: 14px;
    }
    .solutions-texts {
        margin-bottom: 30px;
    }
    .services-card:hover {
        top: 0px;
    }
    .resources-texts {
        margin-top: 0px;
    }
    .resources-blog-explore {
        text-align: center;
    }
    ul.navs-resources li {
        padding: 0 15px;
    }
    ul.navs-resources {
        justify-content: center;
        margin-bottom: 0px;
    }
    .footer-padding {
        border-top: 0;
    }
    ul.footer-block>li {
        float: none;
        width: 100%;
        margin-top: 30px;
    }
    ul.footer-block>li>p {
        display: inline-block;
        padding-right: 20px;
    }
    ul.footer-block {
        text-align: center;
    }
    li.footer-links.text-right {
        text-align: center !important;
    }
    section.footer-bottom {
        text-align: center !important;
    }
    .footer-bottom-block {
        margin-bottom: 15px;
    }
    ul.social-icons {
        padding: 0;
        text-align: center;
        margin-bottom: -15px;
    }
    .tool-card-front {
        padding: 30px 20px;
    }
    button {
        font-size: 12px !important;
        padding: 8px 15px !important;
    }
    #searchbox {
        font-size: 24px;
        max-width: 90%;
        padding: 1.5rem 0rem;
    }
    .banner-text {
        padding: 25% 0% 10% 0;
    }
    .banner-text>h1 {
        font-size: 24px;
        line-height: 40px;
    }
    .banner-text>p {
        font-size: 12px;
    }
    button.btn.btn-theme-white.follow-btn.ripple {
        padding: 0px 7px !important;
    }
    button.btn.btn-theme-white {
        margin-top: 20px;
        padding: 10px 5px 10px 20px !important;
    }
    button.btn.btn-theme-white.js-scroll-trigger {
        margin-right: 5px;
    }
    ul.navs-services {
        margin: 0;
    }
    ul.navs-services>li>a>h5 {
        font-size: 16px;
    }
    .section-padding {
        padding: 50px 0px;
    }
    .invfour-blocks>h6 {
        -webkit-line-clamp: 2;
        height: 40px;
    }
    .float-right {
        text-align: center;
    }
    .float-left {
        text-align: center;
    }
    .pad-right {
        padding-right: 15px;
    }
    .pad-left {
        padding-left: 15px;
    }
    img.img-fluid.img-servicesimg-center {
        margin-top: 0px;
    }
    .services-inner-card {
        margin-top: 20px;
        height: auto;
    }
    .card-industry-body>p {
        -webkit-line-clamp: initial;
        height: auto;
    }
    .controls-owl-prev {
        margin-left: 0px;
    }
    .controls-owl-next {
        margin-right: 0px;
    }
    .owl-carousel-chalenges-section, .owl-carousel-organization-section, .owl-carousel-clients-section {
        margin-top: 0px;
    }
    .carousel-challenges-container, .carousel-organization-container, .carousel-clients-container {
        padding-top: 30px;
    }
    .challenges-card {
        margin-bottom: 30px;
    }
    .row.services-abt {
        margin-top: 50px;
    }
    img.img-service-abt {
        margin-bottom: 30px;
    }
    .services-abt-div>p {
        margin: 0px 0px;
    }
    .services-abt-blocks {
        text-align: center;
    }
    .services-abt-div {
        text-align: center;
    }
    section.organization-sec .organize-block {
        min-height: auto !important;
    }
    .solutions-tab-card {
        text-align: center;
    }
    p.para-quotes-lists {
        margin-left: 0px;
    }
    .iframe-abt-services {
        margin-bottom: 30px;
    }
    ul.stage2-services-ul>li {
        width: 32%;
    }
    .tabs-logistics-content {
        height: auto;
    }
    .nav.tabs-logistics-tabs {
        float: none;
        display: inline-flex;
        margin-right: 0px;
        border-bottom: 0;
        padding-right: 0px;
    }
    .tabs-logistics-tabs .nav-link.active {
        width: auto;
    }
    .tabs-logistics-tabs .nav-link {
        padding: 15px;
        width: auto;
    }
    .img-logistics-tabs-icon {
        width: 30px;
    }
    .tabs-logistics-pane {
        padding: 30px 20px;
        margin-left: 0px;
    }
    .img-block-logistics {
        margin: 0px;
    }
    .bpm-card>div {
        padding: 20px 10px;
    }
    .bpm-card>div {
        width: auto;
    }
    .row.row-bpm>div {
        margin-top: 30px;
    }
    h3.case-heading {
        font-size: 20px;
        width: 100%;
        float: none;
    }
    ul.case-socialicons {
        float: none;
        width: 100%;
        text-align: center;
    }
    ul.casestudy-ul>li, ul.casestudy-ul>a>li {
        float: none;
        width: 100%;
        height: auto;
    }
    .footer-case {
        position: relative;
    }
    li.nav-item.last-nav>a {
        padding: 10px !important;
    }
    .clients-scroll-block {
        padding: 40px 30px;
        margin: 0px;
    }
    .col.owl-carousel-home {
        padding: 0;
    }
    header.masthead {
        height: 580px;
    }
    .go-top {
        right: 1em;
    }
    .particle-text {
        top: 270px;
    }
    .search-full-view .input-group .form-control {
        font-size: 20px;
    }
    .search-full-view .input-group {
        width: 90%;
    }
    li.cont-li1>h4 {
        font-size: 16px;
    }
    li.cont-li1>p {
        font-size: 12px;
    }
    .bg-res {
        margin: 50px 0px;
    }
    .case-heading {
        width: 100%;
        float: none;
    }
    .footer-case button {
        border-bottom-left-radius: 8px !important;
    }
    .tool-card-back>p {
        -webkit-line-clamp: 2;
        height: 43px;
    }
    section.resources-sec {
        padding-bottom: 50px;
    }
    .div-video-business>iframe {
        height: 265px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-body {
        height: 136px;
    }
    .solutions-card {
        height: 257px;
    }
    .qualityclientimg {
        padding: 44px 23px;
    }
    .services-block-text>h2 {
        font-size: 24px;
    }
    .partner-block {
        margin: 0px;
    }
    .tools-screenshots>img {
        height: 410px;
    }
    .contact-box {
        padding: 0px 7px 20px;
        height: 250px;
    }
    .contactcareers-bgimg>h2 {
        font-size: 20px;
    }
    ul.contactcareers-ul {
        margin: 20px 0px;
    }
    li.lifirst-contactcareers {
        font-size: 20px;
        line-height: 24px;
    }
    li.lifirst-contactcareers::after {
        right: 11px;
        top: 2px;
    }
    li.lisecond-contactcareers {
        font-size: 14px;
        line-height: 20px;
    }
    .bg-res.bg-contactcareers {
        padding: 15px 0px;
        padding-left: 30%;
    }
    p.cont-address {
        text-align: center;
    }
    ul.navs-resources li {
        padding: 0px 10px;
    }
    ul.organize-ul>li img {
        margin: -10px 0 0 15px;
    }
    .enquire-div {
        height: 220px;
    }
    .stratergy-texts {
        padding-top: 0px;
    }
    form.business-enquireForm label {
        margin: 0 15px 0px 3px;
        font-size: 12px;
    }
    form.business-enquireForm .form-control {
        font-size: 14px;
    }
    .tool-card-front {
        padding: 50px 10px;
    }
    .tool-card {
        height: 190px;
    }
    .tools-screenshots {
        margin-top: 155px;
    }
    .card.card-flip.card-industries {
        height: 265px;
    }
    .banner-text {
        padding: 17% 10% 8% 0;
    }
    ul.navs-services {
        margin: 0 2% 5%;
    }
    .services-inner-card {
        height: auto;
    }
    section.organization-sec .organize-block {
        min-height: auto !important;
    }
    .platform-block {
        height: 185px;
    }
    button.btn.btn-theme-white {
        font-size: 14px;
    }
    .bg-res.bg-contactcareers {
        padding-left: 35%;
    }
    ul.stage2-services-ul>li {
        width: 32%;
    }
    ul.industry-service-ul>li {
        margin-bottom: 0px;
        font-size: 13px;
    }
    .btn-industry-service {
        margin-top: 0px;
    }
    .card-industry-body {
        padding: 10px;
    }
    .card-industry-body>h4 {
        font-size: 14px;
    }
    .card-detail-industry {
        padding: 20px 15px 30px 30px;
    }
    .img-block-logistics {
        margin: 0px;
    }
    .bpm-card:hover .bpm-back {
        overflow: hidden;
    }
    .bpm-card>div {
        padding: 20px 10px;
    }
    ul.casestudy-ul>li, ul.casestudy-ul>a>li {
        float: none;
        width: 100%;
        height: auto;
    }
    .footer-case {
        position: relative;
    }
    li.nav-item.last-nav>a {
        padding: 10px !important;
    }
    li.cont-li1>h4 {
        font-size: 20px;
    }
    li.cont-li1>p {
        font-size: 14px;
    }
    li.cont-li1 button.btn.btn-theme-white {
        padding: 10px 20px 10px 35px;
        font-size: 14px !important;
    }
    img.img-res-sec {
        margin-bottom: 30px;
    }
    .resource-rel {
        height: 60px;
    }
    .case-heading {
        width: 100%;
        float: none;
    }
    .div-video-business>iframe {
        height: 300px;
    }
    .invfour-blocks>h6 {
        -webkit-line-clamp: 3;
        height: 57px;
    }
}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    li.nav-item.last-nav>a {
        background-color: transparent;
        color: #ffffff !important;
        border: 1px solid #ffffff;
        margin-left: 10px;
    }
    li.nav-item.last-nav>a:hover {
        background-color: #FC6A55;
        border: 1px solid #FC6A55;
    }
    .qualityclientimg {
        padding: 65px 50px;
    }
    .video-business {
        padding: 0px 200px;
    }
    .advisors-div>h2 {
        font-size: 22px;
    }
    .advisors-div>h3 {
        font-size: 18px;
    }
    .quote-div {
        margin-top: 10px;
    }
    .organize-head {
        padding: 30px 10px 30px 10px;
    }
    .inv-blocks {
        margin: 0px 5% 0px 5%;
    }
    .enquire-div {
        height: 200px;
    }
    .stratergy-texts {
        padding-top: 0px;
    }
    form.business-enquireForm label {
        margin: 0 15px 0px 3px;
    }
    .tool-card {
        height: 200px;
    }
    .tools-screenshots {
        padding-top: 50px;
        padding-left: 20px;
    }
    .banner-text {
        padding: 17% 30% 8% 0;
    }
    ul.navs-services {
        margin: 0 15% 5%;
    }
    .services-inner-card {
        height: 225px;
    }
    .banner-text.full-width-services-text {
        padding-right: 20%;
        padding-left: 20%;
    }
    .btn-industry-service {
        margin-top: 0px;
    }
    .tabs-logistics-content {
        height: auto;
    }
    .img-block-logistics>img {
        height: 570px;
    }
    .particle-text {
        width: 65%;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 5px 9px 20px;
        position: relative;
        top: 6px;
    }
    .resource-rel {
        height: 75px;
    }
    p.full-articlepara span {
        font-size: 16px;
    }
    .tool-card-back button {
        padding: 10px 5px 10px 25px !important;
    }
    .solutions-tab-body h5 {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 48px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .platform-block>p {
        font-size: 14px;
    }
    .div-video-business>iframe {
        height: 320px;
    }
}

@media (max-width: 992px) {
    .advisors-div>h2 {
        font-size: 22px;
    }
    .img-block-logistics>img {
        height: auto;
    }
    .row.business-value-row {
        margin-top: 0px;
    }
    .advisors-div>h3 {
        font-size: 18px;
    }
    .abt-value-img>img {
        height: auto;
    }
    .quote-div {
        margin-top: 0px;
    }
    .banner-text.full-width-services-text {
        padding-right: 0;
        padding-left: 0;
    }
    .form-careerform {
        margin: 30px 0px;
    }
    .owl-carousel-careertesti-section .owl-prev {
        left: -8%;
    }
    .owl-carousel-careertesti-section .owl-next {
        right: -8%;
    }
    .particle-text {
        width: 90%;
    }
    img.logo-white {
        display: none;
    }
    .submenu-ul {
        display: none;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        padding: 16px 15px 16px 75px;
    }
    #mainNav .navbar-nav>li>a::before {
        content: url(../images/Black_IT\ Service.svg);
        position: absolute;
        width: 30px;
        height: 30px;
        left: 15px;
        background-color: #E3E3E3;
        padding: 5px;
        border-radius: 10px;
        margin-top: -3px;
    }
    a.nav-link span {
        float: right;
        font-size: 20px;
    }
    ul.navbar-nav {
        border-top: 3px solid #E3E3E3;
        margin-top: 7px;
    }
    ul.navbar-nav>li {
        border-bottom: 1px solid #E3E3E3;
    }
    nav#mainNav {
        padding-left: 0px;
        padding-right: 0px;
    }
    a.navbar-brand {
        padding-left: 15px;
    }
    button.navbar-toggler.navbar-toggler-right {
        padding-right: 15px !important;
    }
    #mainNav .navbar-nav .nav-item:hover .nav-link {
        box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.12);
        background-color: #FFF0EE;
    }
    #mainNav .navbar-nav .nav-item:hover .nav-link::before {
        content: url(../images/Solution_IT\ Service.svg);
        background-color: #FFDDD8;
    }
    ul.cont-ul {
        padding: 0;
        margin: 0;
        display: inline-flex;
        list-style-type: none;
        background-color: #F0F0F0;
        padding: 20px 15px;
        margin-top: 11px;
        width: 100%;
    }
    li.cont-li1>p {
        font-weight: 400;
    }
    li.cont-li1 button.btn.btn-theme-white {
        margin-top: 0px !important;
    }
    li.cont-li2>img {
        width: 100%;
    }
    li.cont-li1 {
        width: 70%;
    }
    li.cont-li2 {
        width: 30%;
    }
    ul.articles-ul {
        display: block;
    }
    ul.articles-ul>li {
        float: none;
        width: 100%;
    }
    li.art-rightli {
        padding-top: 20px;
    }
    img.img-fluid.img-res-news {
        height: auto;
        margin-bottom: 20px;
    }
    p.full-articlepara span {
        font-size: 16px;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav .navbar-brand {
        transition: all .3s;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav.navbar-shrink .navbar-brand {
        padding: 12px 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #000000;
    }
    #mainNav.navbar-shrink li.nav-item.last-nav>a {
        color: #000000 !important;
        border: 1px solid #000000;
    }
    #mainNav.navbar-shrink li.nav-item.last-nav.active>a {
        color: #ffffff !important;
        border: 1px solid #FC6A55;
    }
    #mainNav.navbar-shrink li.nav-item.last-nav>a:hover {
        color: #ffffff !important;
        border: 1px solid #FC6A55;
    }
    img.logo-black {
        display: none;
    }
    .col-openings {
        padding: 0 30px;
    }
    #mainNav.navbar-shrink img.logo-black {
        display: block;
    }
    #mainNav.navbar-shrink img.logo-white {
        display: none;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        color: #ffffff;
    }
    .services-body {
        height: 112px;
    }
    .solutions-card {
        height: 246px;
    }
    .resources-blog-explore>h5 {
        padding-right: 30px;
    }
    .enquire-block {
        margin: 0px 50px;
    }
    .platform-block {
        height: 165px;
    }
    .services-stage-block {
        padding: 0px 85px;
    }
    a.search-mobile-icon {
        display: none;
    }
    a.nav-link span {
        display: none;
    }
    li.nav-item.last-nav span {
        display: initial;
    }
    ul.cont-ul {
        display: none;
    }
    img.img-res-sec {
        height: 380px;
    }
    ul.casestudy-newsblocks li.left-casestudy {
        width: 35%;
    }
    ul.casestudy-newsblocks li.right-casestudy {
        width: 65%;
    }
    li.left-casestudy>img {
        border-bottom-left-radius: 0px;
    }
    .platform-block>p {
        line-height: 20px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 40px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .body-case>p, ul.casestudy-ul.casestudy-newsblocks .body-case>p {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 3;
        height: 64px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    ul.casestudy-ul .body-case>p {
        -webkit-line-clamp: 8;
        height: 165px;
    }
    .body-case>h4 {
        font-size: 18px;
        margin-bottom: 15px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 43px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    li.art-rightli>p {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 7;
        height: 145px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .invfour-blocks>h6 {
        line-height: 20px;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        height: 40px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    header.masthead .intro-text .intro-heading {
        font-size: 32px;
    }
}

@media (min-width: 2000px) {
    section.business-process {
        background-size: 100% 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    li.nav-item.last-nav>a {
        color: #ffffff !important;
        background-color: transparent;
        border: 1px solid #ffffff;
        margin-left: 15px;
    }
    li.nav-item.last-nav>a:hover {
        color: #ffffff !important;
        background-color: #FC6A55;
        border: 1px solid #FC6A55;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 5px 15px 21px;
        position: relative;
        top: 7px;
    }
    .video-business {
        padding: 0px 300px;
    }
    .stratergy-texts {
        padding-right: 40px;
    }
    .tool-card {
        height: 200px;
    }
    .tools-screenshots {
        padding: 30px 0 0 70px;
    }
    .industries-card {
        padding: 25px;
    }
    img.img-fluid.industries-img {
        margin-bottom: 25px;
    }
    .industries-card>p {
        margin: 10px 0px 20px;
    }
    .ind-imgborder {
        margin-bottom: 25px;
    }
    .inv-blocks {
        margin: 30px 10% 0px 10%;
    }
}