/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .padding-right {
        padding-right: 0px;
    }
}

@media (max-width: 576px) {
    .d-flex.justify-content-around.home-clients-block img {
        margin: 10px 0px;
    }
    .d-flex.justify-content-around.home-clients-block {
        padding: 10px 0px;
    }
    .business-icons {
        margin: 30px 0 0;
    }
    ul.business-icons>li {
        width: 100%;
        margin-top: 30px;
    }
    .navs-solutions>li>a {
        padding: 9px 25px;
    }
    h4.stns-head img {
        width: 20px;
        height: 20px;
        margin-right: 0px;
    }
    h4.stns-head {
        font-size: 16px;
    }
    .btn-industry-service {
        margin-top: 0px;
    }
    .sec-abt-bpm-sec .lists-bpm {
        float: none;
        width: 100%;
    }
    h3.case-heading::after {
        width: 100px;
    }
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .d-flex.justify-content-around.home-clients-block {
        margin: 0px 50px;
    }
    .solutions-texts {
        text-align: left;
    }
    .padding-left {
        padding-left: 0px;
    }
    .stratergy-texts {
        padding-left: 30px;
    }
    .resources-texts {
        text-align: left;
    }
    .resource-pd {
        padding-right: 50px;
    }
}

@media (max-width: 767px) {
    header.masthead .intro-text .intro-lead-in {
        font-size: 20px;
        line-height: 25px;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 24px;
        margin: 10px 0px;
    }
    .intro-medium {
        font-size: 14px;
    }
    button.btn.btn-theme {
        font-size: 14px;
        margin-top: 20px;
    }
    .services-card {
        margin-bottom: 20px;
    }
    .btn-explore {
        margin-top: 10px;
    }
    .services-block-text>h2 {
        font-size: 24px;
    }
    .services-block-text>p {
        font-size: 18px;
    }
    button.btn.btn-more.ripple {
        font-size: 14px;
    }
    .solutions-texts {
        margin-bottom: 30px;
    }
    .services-card:hover {
        top: 0px;
    }
    .resources-texts {
        margin-top: 0px;
    }
    .resources-blog-explore {
        text-align: center;
    }
    ul.navs-resources li {
        padding: 0 15px;
    }
    ul.navs-resources {
        justify-content: center;
        margin-bottom: 0px;
    }
    .footer-padding {
        border-top: 0;
    }
    ul.footer-block>li {
        float: none;
        width: 100%;
        margin-top: 30px;
    }
    ul.footer-block>li>p {
        display: inline-block;
        padding-right: 20px;
    }
    ul.footer-block {
        text-align: center;
    }
    li.footer-links.text-right {
        text-align: center !important;
    }
    section.footer-bottom {
        text-align: center !important;
    }
    .footer-bottom-block {
        margin-bottom: 15px;
    }
    ul.social-icons {
        padding: 0;
        text-align: center;
        margin-bottom: -15px;
    }
    .tool-card-front {
        padding: 30px 20px;
    }
    button {
        font-size: 12px !important;
        padding: 8px 15px !important;
    }
    #searchbox {
        font-size: 24px;
        max-width: 90%;
        padding: 1.5rem 0rem;
    }
    .banner-text {
        padding: 25% 0% 10% 0;
    }
    .banner-text>h1 {
        font-size: 24px;
        line-height: 40px;
    }
    .banner-text>p {
        font-size: 12px;
    }
    button.btn.btn-theme-white {
        margin-top: 20px;
        padding: 10px 10px 10px 20px !important;
    }
    button.btn.btn-theme-white.js-scroll-trigger {
        margin-right: 5px;
    }
    ul.navs-services {
        margin: 0;
    }
    ul.navs-services>li>a>h5 {
        font-size: 16px;
    }
    .section-padding {
        padding: 50px 0px;
    }
    .float-right {
        text-align: center;
    }
    .float-left {
        text-align: center;
    }
    .pad-right {
        padding-right: 15px;
    }
    .pad-left {
        padding-left: 15px;
    }
    img.img-fluid.img-servicesimg-center {
        margin-top: 0px;
    }
    .services-inner-card {
        margin-top: 20px;
    }
    .controls-owl-prev {
        margin-left: 0px;
    }
    .controls-owl-next {
        margin-right: 0px;
    }
    .owl-carousel-chalenges-section, .owl-carousel-organization-section, .owl-carousel-clients-section {
        margin-top: 0px;
    }
    .carousel-challenges-container, .carousel-organization-container, .carousel-clients-container {
        padding-top: 30px;
    }
    .challenges-card {
        margin-bottom: 10px;
    }
    .row.services-abt {
        margin-top: 50px;
    }
    img.img-service-abt {
        margin-bottom: 30px;
    }
    .services-abt-div>p {
        margin: 0px 0px;
    }
    .services-abt-blocks {
        text-align: center;
    }
    .services-abt-div {
        text-align: center;
    }
    .organize-block {
        background-color: #FBFBFB;
    }
    .solutions-tab-card {
        text-align: center;
    }
    p.para-quotes-lists {
        margin-left: 0px;
    }
    .iframe-abt-services {
        margin-bottom: 30px;
    }
    ul.stage2-services-ul>li {
        width: 32%;
    }
    .tabs-logistics-content {
        height: auto;
    }
    .nav.tabs-logistics-tabs {
        float: none;
        display: inline-flex;
        margin-right: 0px;
        border-bottom: 0;
        padding-right: 0px;
    }
    .tabs-logistics-tabs .nav-link.active {
        width: auto;
    }
    .tabs-logistics-tabs .nav-link {
        padding: 15px;
        width: auto;
    }
    .img-logistics-tabs-icon {
        width: 30px;
    }
    .tabs-logistics-pane {
        padding: 30px 20px;
        margin-left: 0px;
    }
    .img-block-logistics {
        margin: 0px;
    }
    .bpm-card>div {
        padding: 20px 10px;
    }
    .row.row-bpm>div {
        margin-top: 30px;
    }
    h3.case-heading {
        font-size: 20px;
        width: 100%;
        float: none;
    }
    ul.case-socialicons {
        float: none;
        width: 100%;
        text-align: center;
    }
    ul.casestudy-ul>li, ul.casestudy-ul>a>li {
        float: none;
        width: 100%;
        height: auto;
    }
    .footer-case {
        position: relative;
    }
    li.nav-item.last-nav>a {
        padding: 10px !important;
    }
    .clients-scroll-block {
        padding: 40px 30px;
        margin: 0px;
    }
    .col.owl-carousel-home {
        padding: 0;
    }
    header.masthead {
        height: 580px;
    }
    .go-top {
        right: 1em;
    }
    .particle-text {
        top: 270px;
    }
    .search-full-view .input-group .form-control {
        font-size: 20px;
    }
    .search-full-view .input-group {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-body {
        height: 136px;
    }
    .solutions-card {
        height: 257px;
    }
    ul.navs-resources li {
        padding: 0px 10px;
    }
    ul.organize-ul>li {
        display: flex;
        justify-content: flex-end;
    }
    ul.organize-ul>li img {
        margin: -10px 0 0 15px;
    }
    .enquire-div {
        height: 220px;
    }
    .stratergy-texts {
        padding-top: 0px;
    }
    .tool-card-front {
        padding: 50px 10px;
    }
    .tool-card {
        height: 210px;
    }
    .tools-screenshots {
        margin-top: 155px;
    }
    .card.card-flip.card-industries {
        height: 300px;
    }
    .banner-text {
        padding: 17% 10% 8% 0;
    }
    ul.navs-services {
        margin: 0 2% 5%;
    }
    .services-inner-card {
        height: auto;
    }
    .organize-block {
        background-color: #FBFBFB;
    }
    .platform-block {
        height: 185px;
    }
    .solutions-tab-body p {
        height: 80px;
    }
    button.btn.btn-theme-white {
        font-size: 14px;
        padding: 5px 5px 5px 15px;
    }
    ul.stage2-services-ul>li {
        width: 32%;
    }
    ul.industry-service-ul>li {
        margin-bottom: 0px;
        font-size: 13px;
    }
    .btn-industry-service {
        margin-top: 0px;
    }
    .card-industry-body {
        padding: 10px;
    }
    .card-industry-body>h4 {
        font-size: 14px;
    }
    .card-detail-industry {
        padding: 20px 15px 30px 30px;
    }
    .img-block-logistics {
        margin: 0px;
    }
    .bpm-card:hover .bpm-back {
        overflow: hidden;
    }
    .bpm-card>div {
        padding: 20px 10px;
    }
    ul.casestudy-ul>li, ul.casestudy-ul>a>li {
        float: none;
        width: 100%;
        height: auto;
    }
    .footer-case {
        position: relative;
    }
    .body-case>h4 {
        height: auto;
    }
    li.nav-item.last-nav>a {
        padding: 10px !important;
    }
}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    li.nav-item.last-nav>a {
        background-color: transparent;
        color: #ffffff !important;
        border: 1px solid #ffffff;
        margin-left: 10px;
    }
    li.nav-item.last-nav>a:hover {
        background-color: #FC6A55;
        border: 1px solid #FC6A55;
    }
    .video-business {
        padding: 0px 200px;
    }
    .advisors-div>h2 {
        font-size: 22px;
    }
    .advisors-div>h3 {
        font-size: 18px;
    }
    .quote-div {
        margin-top: 10px;
    }
    .organize-head {
        padding: 30px 10px 30px 10px;
    }
    .enquire-div {
        height: 200px;
    }
    .stratergy-texts {
        padding-top: 0px;
    }
    .tool-card {
        height: 220px;
    }
    .tools-screenshots {
        padding-top: 50px;
        padding-left: 20px;
    }
    .banner-text {
        padding: 17% 30% 8% 0;
    }
    ul.navs-services {
        margin: 0 15% 5%;
    }
    .services-inner-card {
        height: 225px;
    }
    .banner-text.full-width-services-text {
        padding-right: 20%;
        padding-left: 20%;
    }
    .solutions-tab-body p {
        height: 60px;
    }
    .btn-industry-service {
        margin-top: 0px;
    }
    .tabs-logistics-content {
        height: auto;
    }
    .img-block-logistics>img {
        height: 570px;
    }
    .particle-text {
        width: 65%;
    }
    ul.submenu-ul {
        top: 53px !important;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 5px 9px 20px;
        position: relative;
        top: 6px;
    }
}

@media (max-width: 992px) {
    .advisors-div>h2 {
        font-size: 22px;
    }
    .advisors-div>h3 {
        font-size: 18px;
    }
    .quote-div {
        margin-top: 0px;
    }
    .banner-text.full-width-services-text {
        padding-right: 0;
        padding-left: 0;
    }
    .particle-text {
        width: 90%;
    }
    img.logo-white {
        display: none;
    }
    ul.submenu-ul {
        display: none;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav .navbar-brand {
        transition: all .3s;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav.navbar-shrink .navbar-brand {
        padding: 12px 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #000000;
    }
    #mainNav.navbar-shrink li.nav-item.last-nav>a {
        color: #000000 !important;
        border: 1px solid #000000;
    }
    #mainNav.navbar-shrink li.nav-item.last-nav>a:hover {
        color: #ffffff !important;
        border: 1px solid #FC6A55;
    }
    img.logo-black {
        display: none;
    }
    #mainNav.navbar-shrink img.logo-black {
        display: block;
    }
    #mainNav.navbar-shrink img.logo-white {
        display: none;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        color: #ffffff;
    }
    .services-body {
        height: 112px;
    }
    .solutions-card {
        height: 246px;
    }
    .resources-blog-explore>h5 {
        padding-right: 30px;
    }
    .organize-body {
        height: 230px;
    }
    .enquire-block {
        margin: 0px 50px;
    }
    .platform-block {
        height: 165px;
    }
    .services-stage-block {
        padding: 0px 85px;
    }
    a.search-mobile-icon {
        display: none;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    li.nav-item.last-nav>a {
        color: #ffffff !important;
        background-color: transparent;
        border: 1px solid #ffffff;
        margin-left: 15px;
    }
    li.nav-item.last-nav>a:hover {
        color: #ffffff !important;
        background-color: #FC6A55;
        border: 1px solid #FC6A55;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 5px 15px 21px;
        position: relative;
        top: 7px;
    }
    .video-business {
        padding: 0px 300px;
    }
    .stratergy-texts {
        padding-right: 40px;
    }
    .tool-card {
        height: 200px;
    }
    .tools-screenshots {
        padding: 30px 0 0 70px;
    }
    .industries-card {
        padding: 25px;
    }
    img.img-fluid.industries-img {
        margin-bottom: 25px;
    }
    .industries-card>p {
        margin: 10px 0px 20px;
    }
    .solutions-tab-body p {
        height: 40px;
    }
}