/*global css */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

a:hover{
    text-decoration: none;
}
a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-decoration: none !important;
}
img {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    display: inline-block;
}
/* Ripple effect for buttons */
.ripple {
    background-position: center;
    transition: background 0.3s;
}
.ripple:hover {
    background: #fa8473 radial-gradient(circle, transparent 1%, #fa8473 1%) center/15000%;
}
.ripple:active {
    background-color: #FC6A55;
    background-size: 100%;
    transition: background 0s;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 #fa8473 !important;
}
/*=============================================================
        navigation & header css starts
==============================================================*/
#mainNav {
	background-color: #082747
}
#mainNav.navbar-shrink {
    background-color: #082747;
}
#mainNav .navbar-brand {
	color: #FC6A55;
}
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
	color: #fec503;
}
#mainNav .navbar-nav .nav-item .nav-link {
	font-weight: 400;
	padding: 10px 10px;
	color: #ffffff;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #FC6A55;
}
li.nav-item.active> a.nav-link {
    color: #FC6A55 !important;
}
header.masthead {
	text-align: center;
	color: #ffffff;
	background-image: url(../images/main-banner.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover
}
img.img-fluid.img-logo {
    width: 145px;
    height: auto;
}
#mainNav .navbar-nav .nav-item.last-nav .nav-link.active,
#mainNav .navbar-nav .nav-item.last-nav .nav-link:hover {
	color: #ffffff;
}
/*=============================================================
        navigation & header css ends
==============================================================*/

/*=============================================================
        main-banner css starts
==============================================================*/
header.masthead .intro-text {
    padding: 150px 0px 200px;
}
header.masthead .intro-text .intro-lead-in {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
}
header.masthead .intro-text .intro-heading {
    font-size: 34px;
    font-weight: bold;
    margin: 15px 0px;
}
.intro-medium {
    font-size: 18px;
    font-weight: 300;
}
a.btn.btn-theme {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #FC6A55;
    border-radius: 24px;
    padding: 10px 20px;
    margin-top: 30px;
}
/*=============================================================
        main-banner css ends
==============================================================*/

/*=============================================================
        home-clients css starts
==============================================================*/
section.home-clients {
    margin-top: -85px;
}
.d-flex.justify-content-around.home-clients-block {
    padding: 40px 0px;
    background-color: #ffffff;
    border: 1px solid rgba(236, 235, 237, 0);
    box-shadow: 0px 16px 52px 0px rgba(44, 43, 43, 0.2);
}
/*=============================================================
        home-clients css ends
==============================================================*/

/*=============================================================
        our-services css starts
==============================================================*/
section.our-services {
    padding: 75px 0px;
}
.services-block-text {
    text-align: center;
}
.services-block-text>h2 {
    font-size: 30px;
}
.services-block-text>p {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}
.hr-line {
    width: 60px;
    height: 2px;
    background-color: #FC6A55;
    display: inline-block;
}
.row.services-row {
    margin-top: 50px;
}
.services-card {
    position: relative;
    top: 0;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
}
.services-body {
    padding: 20px;
}
a.btn.btn-more.ripple {
    padding: 0;
}
a.btn.btn-more.ripple>span {
    font-weight: bold;
}
.services-card:hover {
    top: -20px;
    border: 1px solid #FC6A55;
    transition: top ease 0.5s;
}
.services-card:hover a.btn.btn-more.ripple {
    padding: 5px 20px;
    border: 1px solid #FC6A55;
    color: #FC6A55;
    border-radius: 20px;
    transition: top ease 0.5s;
}
.services-card:hover a.btn.btn-more.ripple span {
    display: none;
    transition: top ease 0.5s;
}
a.btn.btn-more.ripple:active {
    color: #000000 !important;
    background-color: transparent;
}
a.btn.btn-more.ripple:active {
    color: #ffffff !important;
}
.services-body>a>h5, .services-card:hover .services-body>h5 {
    color: #FC6A55;
}
.btn-explore {
    text-align: center;
    margin-top: 30px;
}
a.btn.btn-explore.ripple {
    background-color: #FC6A55;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 24px;
    font-size: 14px;
}
/*=============================================================
        our-services css ends
==============================================================*/